---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/alphagov/business-support-api/compare/deployed-to-production...master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1481016743'
      Etag:
      - W/"1c7bbcaab2d8bee291308dd5f89915eb"
      Last-Modified:
      - Tue, 25 Oct 2016 08:33:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/alphagov/business-support-api/compare/deployed-to-production...master","html_url":"https://github.com/alphagov/business-support-api/compare/deployed-to-production...master","permalink_url":"https://github.com/alphagov/business-support-api/compare/alphagov:69e6a33...alphagov:4bc1b67","diff_url":"https://github.com/alphagov/business-support-api/compare/deployed-to-production...master.diff","patch_url":"https://github.com/alphagov/business-support-api/compare/deployed-to-production...master.patch","base_commit":{"sha":"69e6a33d72f8d5e5fd3f51ea7920437a27d2a36b","commit":{"author":{"name":"Simon","email":"sihugh@users.noreply.github.com","date":"2016-09-29T09:47:35Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2016-09-29T09:47:35Z"},"message":"Merge
        pull request #40 from alphagov/update-gds-api-adapters-behaviour\n\nUse new
        GDS API Adapters behaviour","tree":{"sha":"f02efa5525a413023ac67bbd9a514e941b3d6d35","url":"https://api.github.com/repos/alphagov/business-support-api/git/trees/f02efa5525a413023ac67bbd9a514e941b3d6d35"},"url":"https://api.github.com/repos/alphagov/business-support-api/git/commits/69e6a33d72f8d5e5fd3f51ea7920437a27d2a36b","comment_count":0},"url":"https://api.github.com/repos/alphagov/business-support-api/commits/69e6a33d72f8d5e5fd3f51ea7920437a27d2a36b","html_url":"https://github.com/alphagov/business-support-api/commit/69e6a33d72f8d5e5fd3f51ea7920437a27d2a36b","comments_url":"https://api.github.com/repos/alphagov/business-support-api/commits/69e6a33d72f8d5e5fd3f51ea7920437a27d2a36b/comments","author":{"login":"sihugh","id":773037,"avatar_url":"https://avatars.githubusercontent.com/u/773037?v=3","gravatar_id":"","url":"https://api.github.com/users/sihugh","html_url":"https://github.com/sihugh","followers_url":"https://api.github.com/users/sihugh/followers","following_url":"https://api.github.com/users/sihugh/following{/other_user}","gists_url":"https://api.github.com/users/sihugh/gists{/gist_id}","starred_url":"https://api.github.com/users/sihugh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sihugh/subscriptions","organizations_url":"https://api.github.com/users/sihugh/orgs","repos_url":"https://api.github.com/users/sihugh/repos","events_url":"https://api.github.com/users/sihugh/events{/privacy}","received_events_url":"https://api.github.com/users/sihugh/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=3","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"76310c01d5a88978567add4e0b9388459185c2e4","url":"https://api.github.com/repos/alphagov/business-support-api/commits/76310c01d5a88978567add4e0b9388459185c2e4","html_url":"https://github.com/alphagov/business-support-api/commit/76310c01d5a88978567add4e0b9388459185c2e4"},{"sha":"e3ec2e29e6ebe3328a702841fd722bfa73813755","url":"https://api.github.com/repos/alphagov/business-support-api/commits/e3ec2e29e6ebe3328a702841fd722bfa73813755","html_url":"https://github.com/alphagov/business-support-api/commit/e3ec2e29e6ebe3328a702841fd722bfa73813755"}]},"merge_base_commit":{"sha":"69e6a33d72f8d5e5fd3f51ea7920437a27d2a36b","commit":{"author":{"name":"Simon","email":"sihugh@users.noreply.github.com","date":"2016-09-29T09:47:35Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2016-09-29T09:47:35Z"},"message":"Merge
        pull request #40 from alphagov/update-gds-api-adapters-behaviour\n\nUse new
        GDS API Adapters behaviour","tree":{"sha":"f02efa5525a413023ac67bbd9a514e941b3d6d35","url":"https://api.github.com/repos/alphagov/business-suppo[...]
