---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/alphagov/contacts-admin/compare/deployed-to-production...main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1543593897'
      Etag:
      - W/"367e53ef1a1e53289e83e3ee7de16bef"
      Last-Modified:
      - Fri, 30 Nov 2016 15:51:35 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/alphagov/contacts-admin/compare/deployed-to-production...main","html_url":"https://github.com/alphagov/contacts-admin/compare/deployed-to-production...main","permalink_url":"https://github.com/alphagov/contacts-admin/compare/alphagov:627f5a0...alphagov:069f04b","diff_url":"https://github.com/alphagov/contacts-admin/compare/deployed-to-production...main.diff","patch_url":"https://github.com/alphagov/contacts-admin/compare/deployed-to-production...main.patch","base_commit":{"sha":"627f5a00e17624e4f6c119d18a43410e0474c675","node_id":"MDY6Q29tbWl0MTIwODM4NDA6NjI3ZjVhMDBlMTc2MjRlNGY2YzExOWQxOGE0MzQxMGUwNDc0YzY3NQ==","commit":{"author":{"name":"Christopher
        Baines","email":"cbaines8@gmail.com","date":"2016-11-29T11:46:36Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2016-11-29T11:46:36Z"},"message":"Merge
        pull request #507 from alphagov/dependabot/bundler/simple_form-4.1.0\n\nBump
        simple_form from 4.0.1 to 4.1.0","tree":{"sha":"e8feb935755a3f9d328a136e97f63637a7be05c4","url":"https://api.github.com/repos/alphagov/contacts-admin/git/trees/e8feb935755a3f9d328a136e97f63637a7be05c4"},"url":"https://api.github.com/repos/alphagov/contacts-admin/git/commits/627f5a00e17624e4f6c119d18a43410e0474c675","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJb/9GcCRBK7hj4Ov3rIwAAdHIIADaW4/Wg0koy0y6n2qDcvp6Q\nbnlNe9ed3LOt83l5mFwBUNn92muEs5j1EwBUqrd5eE6BU62LpLP/H821FBWNh5Mf\nCm4PcBEDN5G8eHyRQfda+ncZL+2p6h5gCC7FKS7Nwd0XSP4H1vpZJPeXhRkwhwFc\nZI4Jfbj9ZBNBag7WMmPXCh/btkWwYXZ/Pdr+FyRxFmEKvH+UczVXFLZT2TwMZrYF\nXngMxVKdXlH4y0dgMPjvKIr97/mQMAsfmNQRzIafKR954DbhX+3SXWLE/DgxABpm\nR17VLyjIrUqPS+XEBrTkmME7n7rR0ErWC+eErQSScYm7gnWFm0daVmBl9XoScRA=\n=A/pT\n-----END
        PGP SIGNATURE-----\n","payload":"tree e8feb935755a3f9d328a136e97f63637a7be05c4\nparent
        2e0301c60c6167256eca4becbecc44c7362891c9\nparent caabce2093aa86dc5272368d78d5f515e49ab9ee\nauthor
        Christopher Baines <cbaines8@gmail.com> 1543491996 +0000\ncommitter GitHub
        <noreply@github.com> 1543491996 +0000\n\nMerge pull request #507 from alphagov/dependabot/bundler/simple_form-4.1.0\n\nBump
        simple_form from 4.0.1 to 4.1.0"}},"url":"https://api.github.com/repos/alphagov/contacts-admin/commits/627f5a00e17624e4f6c119d18a43410e0474c675","html_url":"https://github.com/alphagov/contacts-admin/commit/627f5a00e17624e4f6c119d18a43410e0474c675","comments_url":"https://api.github.com/repos/alphagov/contacts-admin/commits/627f5a00e17624e4f6c119d18a43410e0474c675/comments","author":{"login":"cbaines","id":1130010,"node_id":"MDQ6VXNlcjExMzAwMTA=","avatar_url":"https://avatars1.githubusercontent.com/u/1130010?v=4","gravatar_id":"","url":"https://api.github.com/users/cbaines","html_url":"https://github.com/cbaines","followers_url":"https://api.github.com/users/cbaines/followers","following_url":"https://api.github.com/users/cbaines/following{/other_user}","gists_url":"https://api.github.com/users/cbaines/gists{/gist_id}","starred_url":"https://api.github.com/users/cbaines/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cbaines/subscriptions","organizations_url":"https://api.github.com/users/cbaines/orgs","repos_url":"https://api.github.com/users/cbaines/repos","events_url":"https://api.github.com/users/cbaines/events{/privacy}","received_events_url":"https://api.github.com/users/cbaines/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"2e0301c60c6167256eca4becbecc44c7362891c9","url":"https://api.github.com/repos/alphagov/contacts-admin/commits/2e0301c60c6167256eca4becbecc44c7362891c9","html_url":"https://github.com/alphagov/contacts-admin/commit/2e0301c60c6167256eca4becbecc44c7362891c9"},{"sha":"caabce2093aa86dc5272368d78d5f515e49ab9ee","url":"https://api.github.com/repos/alphagov/contacts-admin/commits/caabce2093aa86dc5272368d78d5f515e49ab9ee","html_url":"https://github.com/alphagov/contacts-admin/commit/caabce2093aa86dc5272368d78d5f515e49ab9ee"}]},"merge_base_commit":{"sha":"627f5a00e17624e4f6c119d18a43410e0474c675","node_id":"MDY6Q29tbWl0MTIwODM4NDA6NjI3ZjVhMDBlMTc2MjRlNGY2YzExOWQxOGE0MzQxMGUwNDc0YzY3NQ==","commit":{"author":{"name":"Christopher
        Baines","email":"cbaines8@gmail.com","date":"2016-11-29T11:46:36Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2016-11-29T11:46:36Z"},"message":"Merge
        pull request #507 from alphagov/dependabot/bundler/simple_form-4.1.0\n\nBump
        simple_form from 4.0.1 to 4.1.0","tree":{"[...]
- request:
    method: get
    uri: https://api.github.com/repos/alphagov/contacts-admin/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12dc12eb9724c9cfec5ad5850959b9d9167e9174ba161ea537de24138e2b3cab"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1644506138'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"dependabot/bundler/govuk_app_config-4.3.0","commit":{"sha":"4c28bc18673a07584126d835cc59489be7afdd2f","url":"https://api.github.com/repos/alphagov/contacts-admin/commits/4c28bc18673a07584126d835cc59489be7afdd2f"},"protected":false},{"name":"dependabot/bundler/rspec-rails-5.1.0","commit":{"sha":"4cdb551bd13a6b4c91b8e8d3714eee5e4da587d4","url":"https://api.github.com/repos/alphagov/contacts-admin/commits/4cdb551bd13a6b4c91b8e8d3714eee5e4da587d4"},"protected":false},{"name":"deployed-to-integration","commit":{"sha":"a59b4042f74081f12e384f7ca4391a8c371725d6","url":"https://api.github.com/repos/alphagov/contacts-admin/commits/a59b4042f74081f12e384f7ca4391a8c371725d6"},"protected":false},{"name":"deployed-to-production","[...]
[...]
