---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/alphagov/multipage-frontend/compare/deployed-to-production...master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1481016743'
      Etag:
      - W/"d8858b0400004390d22501cd0990d0f2"
      Last-Modified:
      - Mon, 05 Dec 2016 17:06:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/alphagov/multipage-frontend/compare/deployed-to-production...master","html_url":"https://github.com/alphagov/multipage-frontend/compare/deployed-to-production...master","permalink_url":"https://github.com/alphagov/multipage-frontend/compare/alphagov:4bcfa99...alphagov:5105872","diff_url":"https://github.com/alphagov/multipage-frontend/compare/deployed-to-production...master.diff","patch_url":"https://github.com/alphagov/multipage-frontend/compare/deployed-to-production...master.patch","base_commit":{"sha":"4bcfa99526be326888c04eaf12598785a6920e00","commit":{"author":{"name":"Daniel
        Roseman","email":"daniel@roseman.org.uk","date":"2016-09-12T09:15:09Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2016-09-12T09:15:09Z"},"message":"Merge
        pull request #44 from alphagov/travel_advice_links\n\nUse static JSON as travel
        advice publisher related links and breadcrumbs","tree":{"sha":"9ee99d7fd43b9564e84de5997e0d13f0031b1f13","url":"https://api.github.com/repos/alphagov/multipage-frontend/git/trees/9ee99d7fd43b9564e84de5997e0d13f0031b1f13"},"url":"https://api.github.com/repos/alphagov/multipage-frontend/git/commits/4bcfa99526be326888c04eaf12598785a6920e00","comment_count":0},"url":"https://api.github.com/repos/alphagov/multipage-frontend/commits/4bcfa99526be326888c04eaf12598785a6920e00","html_url":"https://github.com/alphagov/multipage-frontend/commit/4bcfa99526be326888c04eaf12598785a6920e00","comments_url":"https://api.github.com/repos/alphagov/multipage-frontend/commits/4bcfa99526be326888c04eaf12598785a6920e00/comments","author":{"login":"danielroseman","id":131395,"avatar_url":"https://avatars.githubusercontent.com/u/131395?v=3","gravatar_id":"","url":"https://api.github.com/users/danielroseman","html_url":"https://github.com/danielroseman","followers_url":"https://api.github.com/users/danielroseman/followers","following_url":"https://api.github.com/users/danielroseman/following{/other_user}","gists_url":"https://api.github.com/users/danielroseman/gists{/gist_id}","starred_url":"https://api.github.com/users/danielroseman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danielroseman/subscriptions","organizations_url":"https://api.github.com/users/danielroseman/orgs","repos_url":"https://api.github.com/users/danielroseman/repos","events_url":"https://api.github.com/users/danielroseman/events{/privacy}","received_events_url":"https://api.github.com/users/danielroseman/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=3","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"77102cee84e6c29b2232b4405bb5fb9666725d99","url":"https://api.github.com/repos/alphagov/multipage-frontend/commits/77102cee84e6c29b2232b4405bb5fb9666725d99","html_url":"https://github.com/alphagov/multipage-frontend/commit/77102cee84e6c29b2232b4405bb5fb9666725d99"},{"sha":"89b10392f5a202ddccb47e89c2590aef71007cc3","url":"https://api.github.com/repos/alphagov/multipage-frontend/commits/89b10392f5a202ddccb47e89c2590aef71007cc3","html_url":"https://github.com/alphagov/multipage-frontend/commit/89b10392f5a202ddccb47e89c2590aef71007cc3"}]},"merge_base_commit":{"sha":"4bcfa99526be326888c04eaf12598785a6920e00","commit":{"author":{"name":"Daniel
        Roseman","email":"daniel@roseman.org.uk","date":"2016-09-12T09:15:09Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2016-09-12T09:15:09Z"},"message":"Merge
        pull request #44 from alphagov/travel_advice_links\n\nUse static JSON as travel
        advice publisher related links and breadcrumbs","tree":{"sha":"9ee99d7fd43b9564e84de5997e0d13f0031b1f13","url":"https://api.github.co[...]
